.crud-header{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}



@media  screen and (max-width:1000px) {
    
table td,th {
font-size: 15px !important;

    
}

}
@media  screen and (max-width:1000px) {
    
    table button  {
    padding: 5px !important;
    
        
    }
    
    }



    
@media  screen and (max-width:600px) {
    
    table td,th {
    font-size: 10px !important;
    text-align: center;
    
        
    }
    
    }
    @media  screen and (max-width:600px) {
        
        table button  {
        padding: 2px !important;
        font-size: 12px !important;
        }
        
        }
    
